<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reDive.front.mapper.BossInfoMapper">
	<resultMap id="bossinfomapper" type="reDive.front.bean.PcrBossInfo">
		<id property="bossId" column="bossid" />
		<result property="bossName" column="bossname" />
		<result property="bossNowHp" column="bossnowhp" />
		<result property="bossAllHp" column="bossallhp" />
		<result property="bossLv" column="bosslv" />
		<result property="bossRole" column="bossrole" />
		<result property="bossStart" column="bossstart" />
		<result property="bossShunXu" column="bossshunxu" />
	</resultMap>
	
	<select id="selectallboss" resultMap="bossinfomapper">
		select * from PCR_BOSS_INFO where 1=1 order by bossid asc
	</select>
	
</mapper>