<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reDive.front.mapper.GonGaoMapper">
	<resultMap id="gongaomapper" type="reDive.front.bean.PcrGonGaoInfo">
		<id property="gonGaoId" column="gongaoid" />
		<result property="gonGaoName" column="gongaoname" />
		<result property="gonGaoText" column="gongaotext" />
		<result property="gonGaoRole" column="gongaorole" />
		<result property="gonGaoCtime" column="gongaoctime" />
		<result property="gonGaoDengJi" column="gongaodengji" />
		<result property="gonGaoGonHui" column="gongaogonhui" />
	</resultMap>
	
	<select id="selectGongao" resultMap="gongaomapper">
		select * from PCR_GONGAO_INFO where gongaorole = #{gongaoid}
		<if test="gongaogonhui!=null">
			AND gongaogonhui = #{gongaogonhui}
		</if>
		order by gongaoid desc
	</select>
	
	<insert id="insertgongao">
		<selectKey order="BEFORE" keyProperty="gonGaoId" resultType="Integer">
			SELECT SEQ_PCR_GONGGAO_INFO.NEXTVAL FROM DUAL
		</selectKey>
		insert into PCR_GONGAO_INFO values (#{gonGaoId},#{gongaobiaoti},#{gongaotext},#{gongaorole},sysdate,#{gongaotype},#{gongaogonhui})
	</insert>
	
	<select id="selectnewGongao" resultMap="gongaomapper">
		select * from PCR_GONGAO_INFO where gongaorole = #{role} and gongaoctime = (select max(gongaoctime) from PCR_GONGAO_INFO where gongaorole = #{role})
	</select>
	
</mapper>