<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reDive.front.mapper.HuoDonTimeMapper">
	<resultMap id="huodonmapper" type="reDive.front.bean.PcrHuoDonTimeInfo">
		<id property="huoDonId" column="huodonid" />
		<result property="huoDonName" column="huodonname" />
		<result property="huoDonStart" column="huodonstart" />
		<result property="huoDonEnd" column="huodonend" />
		<result property="huoDonBeiZhu" column="huodonbeizhu" />
	</resultMap>
	
	<select id="selectnowyhuodon" resultMap="huodonmapper">
		select huodonid,huodonname,to_char(huodonstart,'YYYY-MM-DD') as huodonstart,to_char(huodonend-1,'YYYY-MM-DD') as huodonend,huodonbeizhu
		 from PCR_HUODONTIME_INFO where to_char(huodonstart,'MM') = to_char(sysdate, 'MM')
	</select>
	
	<insert id="inserthuodon">
		<selectKey order="BEFORE" keyProperty="huodon.huoDonId" resultType="Integer">
			SELECT seq_PCR_HUODONTIME_INFO.nextval FROM DUAL
		</selectKey>
		insert into PCR_HUODONTIME_INFO values(#{huodon.huoDonId},#{huodon.huoDonName},to_date(#{huodon.huoDonStart},'YYYY-MM-DD HH24:mi'),to_date(#{huodon.huoDonEnd},'YYYY-MM-DD HH24:mi'),#{huodon.huoDonBeiZhu})
	</insert>
	
</mapper>